ES_URL=https://your-cluster.region.elastic.co:9243
ES_API_KEY=your-api-key-here
ES_PASSWORD=your-password
ELSER_INFERENCE_ID=.elser-2-elasticsearch
E5_INFERENCE_ID_ID=.multilingual-e5-small-elasticsearch
USE_PASSWORD=false